<!DOCTYPE html>
<html>
  <head>
    <title>TriConnect</title>
  </head>
  <body>
    <h1>TriConnect</h1>
    <h3>Solving the trilemma of tutoring.</h3>
    <hr />
    <h4>About</h4>
    <p>This project started when the need for a web software was sought.</p>
    <p>Go back <%= link_to 'home', root_path %>.</p>
    <footer align="center">
      <p>&copy;TriConnect Limited Company, 2016</p>
    </footer>
  </body>
</html>