<!DOCTYPE html>
<html>
  <head>
    <title>TriConnect</title>
  </head>
  <body>
    <h1>TriConnect</h1>
    <h3>Solving the trilemma of tutoring.</h3>
    <hr />
    <h4>Home</h4>
    <p>We are TriConnect and we are here to solve the trilemma of tutoring (also known as the impossible trinity of tutoring). We create a connection between:</p>
    <ul>
      <li>Administration</li>
      <li>Tutors/Staff</li>
      <li>Students/Tutees</li>
    </ul>
    <p>Learn more about us by visiting our <%= link_to 'about page', about_path %>.</p>
    <footer align="center">
      <p>&copy;TriConnect Limited Company, 2016</p>
    </footer>
  </body>
</html>